<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="main">
        <div class="nav">
            <a href="/read" class="userRead">Read User</a>
        </div>
        <h1>Create User</h1>
        <div class="forms">
            <form action="/create" method="post">
                <input type="text" placeholder="name" class="inputBox" name="name"/>
                <input type="text" placeholder="email" class="inputBox" name="email"/>
                <input type="text" placeholder="image URL" class="inputBox" name="image"/>
                <input type="submit" value="Create" class="btn"/>
            </form>
        </div>
    </div>
</body>
</html>