<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <div class="main">
        <h1>Create Account</h1>
        <div class="forms">
            <form action="/create" method="post">
                <input type="text" placeholder="username" name="username" class="inpBox"/>
                <input type="email" placeholder="email" name="email" class="inpBox"/>
                <input type="password" placeholder="password" name="password" class="inpBox"/>
                <input type="number" placeholder="age" name="age" class="inpBox"/>
                <input type="submit" value="create" class="btn"/>
            </form>
        </div>
    </div>
</body>
</html>